*.log
npm-debug.*
*.scssc
*.log
*.swp
.DS_Store
.sass-cache
node_modules
dist 

.vscode/settings.json
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json
.vscode/*.code-workspace
.vscode/*.sublime-workspace
.vscode/*.sublime-project

# Specifics

# Hide design tokens
src/scss/_tokens.scss

# Hide compiled CSS
src/_includes/assets/*
